.reply-container {
  border-left: 1px solid hsl(221, 24%, 85%);
  border-width: 2px;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 8px;
}

.reply {
  background-color: var(--white);
  width: 100%;
  margin-bottom: 8px;
  border-radius: 8px;
  display: grid;
  padding: 16px;
  margin-top: 8px;
}


.reply:last-child {
  margin-bottom: 0;
}
.update-textarea {
  resize: none;
  line-height: 1.5;
}

@media (min-width: 64rem) {
  .reply-container {
    margin-left: 43px;
    padding-left: 43px;
    margin-bottom: 8px;
  }
  .reply {
    margin-bottom: 8px;
    grid-template-columns: auto 1fr auto;
  }
  .reply:last-of-type {
    margin-bottom: 0;
  }
  .reply:first-child {
    margin-top: 0
  }
 
}
